DO_C99_MATH=y
KERNEL_HEADERS="/usr/src/linux/include"
# LDSO_LDD_SUPPORT is not set
# LDSO_RUNPATH is not set
# UCLIBC_HAS_SYSLOG is not set
# UCLIBC_HAS_SHADOW is not set
UCLIBC_HAS_PROGRAM_INVOCATION_NAME=y
# UCLIBC_HAS_PTY is not set
# UCLIBC_HAS_TZ_CACHING is not set
# UCLIBC_HAS_TZ_FILE is not set
# UCLIBC_HAS_GNU_ERROR is not set
# UCLIBC_BSD_SPECIFIC is not set
# UCLIBC_HAS_BSD_ERR is not set
# UCLIBC_HAS_REALTIME is not set
# UCLIBC_HAS_XATTR is not set
# UCLIBC_HAS_PROFILING is not set
# UCLIBC_HAS_CRYPT_IMPL is not set
# UCLIBC_HAS_CRYPT_STUB is not set
UCLIBC_HAS_RESOLVER_SUPPORT=y
UCLIBC_HAS_CTYPE_CHECKED=y
UCLIBC_HAS_GLIBC_CUSTOM_PRINTF=y
UCLIBC_HAS_GLIBC_CUSTOM_STREAMS=y
UCLIBC_HAS_PRINTF_M_SPEC=y
# UCLIBC_HAS_GLOB is not set
RUNTIME_PREFIX="/"
DEVEL_PREFIX="/usr/"
# DOSTRIP is not set

